h1 {
    color: blue;
}

h2 {
    color: green;
}

.nombre {
    color: red;
    margin-bottom: 80px;
}

.carrera {
    color: orange;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-right: 0px solid;
}

td {
    border: 1px solid black;
}

.materias {
    background-color: yellow;
}

.nombre2 {
    color: red;
}

.carrera2 {
    color: orange;
}

.primercelda {
    border-right: 0px;
}

.segundacelda {
    border-left: 0px;
}