h2{
    color: darkred;
}

a{
    color: lightgoldenrodyellow;
    
}

thead{
    background-color: blue;
}

.atencion h2{
         color: yellow ;
}

tbody{
    background-color:   #138D75;
}

p{
    text-align: center;
    color: whitesmoke;
}

.atencion h3{
      color: red;
}