:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.h:hover {
    font-weight: bold;
}
.a:active {
    background-color: lightcoral;
}
.f:focus {
    background-color: lightgray;
}
ul {
    list-style-type: none;
}
.items:first-child {
    color: blue;
}
.items:last-child {
    color: red;
}
.items:first-of-type {
    color: yellow;
}
.o:only-child{
    background-color: cyan;
}
.e {
    width: 100px;
    height: 100px;
    background-color: red;
}
.e:empty {
    background-color: chocolate;
}
.items:nth-child(3) {
    color: green;
}
.items:nth-last-child(3) {
    color: brown;
}
.items:any-link {
    color: orange;
}
a:link {
    background-color: lightcoral;
}
a:visited{
    background-color: lightskyblue;
}
.items:is(li) {
    font-style: italic;
}
div:has(h1) {
    border: 2px solid blue;
}
div:not(:has(h1)) {
    border: 2px solid red;
}
