:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    --color-principal: darkblue;
    --color-secundario: chocolate;
    --alto-menu: 100px;
}
.clase-1 {
    --estilo-fuente: italic;
}
.clase-1::before {
    content: "IMPORTANTE: ";
    color: var(--color-principal);
    font-style: var(--estilo-fuente);
}
.clase-1::after {
    content: " FIN.";
    color: var(--color-secundario, chocolate);
}
.clase-2::first-letter {
    font-size: 50px;
    color: darkslateblue;
}
.clase-2::first-line {
    text-transform: uppercase;
}
p::selection {
    color: var(--color-principal, darkblue);
    background-color: lightcoral;
}

.funciones {
/*    width: calc(100px + 50px); */
/*    width: max(800px, 50%);   */
    width: clamp(450px, 50%, 650px);
    height: calc(var(--alto-menu) - 20px);
    background-color: var(--color-secundario);
}