.container {
    color: white;
    background-color: green;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

.container:focus
{
    background-color: red;
}

.container .item
{
    background-color: orange;
}

.container:hover
{
    background-color: blue;
}