body{
    margin: 0;
}
header{
    border: 1px solid #000;
    background-color: palevioletred;
}
nav{
    border: 1px solid #000;
    background-color: burlywood;
}

footer{
    border: 1px solid #000;
    background-color: lightgreen;
}
/* section{
    
} */
article {
    border: 1px solid #000;
    background-color: lightgray;
    height: auto;
}
aside{
    display: block;
    width: 20%;
    border: 3px solid red;
} 
.cuerpo {
    display: flex;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.contenido {
    border: 3px solid red;
    width: 80%;
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
} 