body{
    margin: 0  20px;
    padding: 0;
}
.animales{
    color: blue;
}
header{
    background-color: white;
    color:rgb(155, 0, 0) ;
    margin: 0;
    padding:20px auto;
}

.link{
    background-color: blue;
    color: yellow;
    margin-top:5cm;
    padding: 30px 0 30px 30px;
    font-weight: bold;
    padding-left:800px;


}
.link-2{
    background-color: blue;
    color: yellow;
    padding: 30px 0 30px 30px;
    font-weight: bold;
}



.tabla1{
    background-color: blue;
    width: 1000px;
    height: 2cm;
    border-collapse: separate;
    text-align: left;
    color: yellow;
    font-size: xx-large;
    font-weight: bold;

}
.tabla2{
    background-color: blue;
    width: 7cm;
    font-size: xx-large;
    color: yellow;
    font-weight: bold;
}

.contenido{
    background-color: rgb(22, 121, 96);
    margin-top: 5px;
    width: 1100px;
    height: 400px;
}

.primero{
    color: red;
    margin: 20px;
    padding: 20px;
}

.segundo{
    color: yellow;
    margin: 20px;
    padding: 20px;
}

h3{
    color: white;
    text-align: center;
}
