*{ /* Ajustes para toda la página */
    /*font-family: 'Noto Sans JP', sans-serif; */
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

body {
    background-color: #fafafa;
    color: #000000;     
  }
  
h1 {
    /*font-family: 'Noto Sans JP', sans-serif; */
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
}

h2 {
    /*font-family: 'Noto Sans JP', sans-serif; */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: 'Zen Dots', sans-serif; 
    font-size: 3.4em;
    font-weight: bold;
    text-align: center;
    background-color: #393E41;
    color: #FFFFFF;
    padding: 0.8em;
}

h4 {
    /*font-family: 'Noto Sans JP', sans-serif; */
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    background-color: #2e9ee4 ;
    color: #FFFFFF;  
    padding: 0.2em;
}

b {
    /*font-family: 'Noto Sans JP', sans-serif; */
    color: #000000;
}

.boton_Ok{
    text-decoration: none;
    padding: 20;
    font-weight: 300;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #55bb11;
    border-radius: 6px;
    border: 2px solid #006600;
  }

  .boton_Ok:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration:none;
  }

  .boton_Edit{
    text-decoration: none;
    padding: 20;
    font-weight: 300;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #bbbb11;
    border-radius: 6px;
    border: 2px solid #666600;
  }

  .boton_Edit:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration:none;
  }

  .boton_Del{
    text-decoration: none;
    padding: 20;
    font-weight: 300;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #bb1111;
    border-radius: 6px;
    border: 2px solid #660000;
  }

  .boton_Del:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration:none;
  }
/* Alineacion y propiedades del contenedor principal (Es el div que está dentro del body y 
  contiene todo  el cuerpo de la página) */
.wrapper {
    width: 98%;
    max-width: 1800px;  /* Ancho máximo permitido */
    margin: 10px auto;  /* Margen con el borde del navegador */
    display: grid;
    grid-gap: 20px;     /* Margen entre elementos dentro del grid */
}

.wrapper > * { /*Propiedades de TODOS los elementos dentro del contenedor ppal. */
    padding: 10px;
    border-radius: 8px;
    flex: 1 100%;
    font-size: 1.0em;
  }
  

.wrapper .header {  /*Propiedades del header*/
  background: #ffffff;
  grid-column-start: 1;   /* Inicio del header.... */
  grid-column-end: 5;     /* .....final del header */
  overflow:hidden; /* Eliminamos errores de float */
}

/* Tres cajas en el header, para logos y menu */
#header1 { width: 15%; float: left; }
#header2 { width: 70%; float: left;}
#header3 { width: 15%; float: right;} 




.wrapper  .main {/*Propiedades del texto del articulo principal*/
    text-align: justify;
    background: #E7E5DF;
}

.wrapper .aside-1 { /*Propiedades del lateral izquierdo*/
    background: #c4c6cc;
  }
 
.wrapper .aside-3 {  /*Propiedades del lateral derecho*/
    background: #9ab8f8;

  }

.wrapper .footer {/*Propiedades del footer*/
    text-align: center;
    color: #000000;
    background: #8abcf7;
    font-size: 1em;
  }
  

/* -------------Barra de navegacion superior --------------- */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 0.8em;
    list-style: none;
    margin: 0; 
    background: #2e9ee4 ;
  }
  
  .navigation a { 
    text-align: center; 
    text-decoration: none;
    font-family: 'Zen Dots', sans-serif;
    border-bottom: 2px solid rgba(1, 1, 1, 0.3); 
    display: block;
    padding: 0.5em;
    color: white;
    justify-content: space-around;
  }
  
  .navigation a:hover {
    background: #595E51;
  }  

/*------------Cortes para que sea responsivo ----------------*/
@media screen and (max-width: 768px){
    .wrapper  > * {
        font-size: 1.00em;
        grid-column: 1/-1; /*  Main ocupa todo el ancho columnas */
    }
    
  }

@media screen and  (min-width: 769px) and (max-width: 1024px){
    .wrapper  > * {
        font-size: 1.1em;
        grid-column: 1/-1; /*  Main ocupa todo el ancho columnas */
    }
    
  }


@media screen and  (min-width: 1025px) and (max-width: 1280px){
    .wrapper  > * {
        font-size: 1.2em;
        grid-column: 1/-1; /*  Main ocupa todo el ancho columnas */
    }
    
  }


@media screen and  (min-width: 1281px) {
    .wrapper  > * {
        font-size: 1.3em;
        grid-column: 1/-1; /*  Main ocupa todo el ancho columnas */
    }
    
  }




  
  


  /* -------- Imagen animada a la derecha -------------*/
  .derecha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto
    }

/* -------animacion imagen -----*/
   #imagend{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: logo_imgd;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes logo_imgd{
    from { margin-right: 90px; width:10% }
      to { margin-right: 100px; width:0%; }
    }

  /* -------- Imagen animada a la izquierda -------------*/
  .izquierda {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

/* -------animacion imagen -----*/
   #imageni{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: logo_imgi;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes logo_imgi{
    from { margin-left: 10px; width:0% }
      to { margin-left: 0px; width:10%; }
    }
