 
thead,td,th,tr{

text-align: center;
font-weight: 700;
border-collapse: collapse; border: 2px solid rgb(36, 119, 93);
padding: 12px;
color: white;
 
 

}
.tabla-animales-provincias{
border-collapse: collapse; border: 2px solid black;
background-color: blue;
margin: 0 auto;
}
img{
    width: 20px;
}
caption{
    margin-bottom: 5px;
}
a{
   
    margin-top: 50px;
    color: red;
    text-align: center;
}
.animales{
    color: blue;
}
 .tabla-index{
    background-color: blue;
    
border-collapse: collapse;
 }
.rojo{
    color: red;
 }
 .amarillo{
    color: yellow;
 }
