<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos Vue.js</title>

    <!-- Mi hoja de estilos externa -->
    <link rel="stylesheet" href="estilos.css">

    <!--CDN de Vue, version de desarrollo -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <h1>Vue.js: Directiva v-for</h1>
    <p>Creamos una app con Vue, y utilizamos un contenedor <b>div</b> para renderizar dinámicamente los datos
        proporcionados por esta app.</p>
    <hr>

    <!--Este es el contenedor donde funciona Vue.js -->
    <div id="app">
        <h3>Contenido generado mediante v-for:</h3>
        <p>El uso de <mark>v-for</mark> es semejante al <b>for-in</b> utilizado en JavaScript.</p>
        <p>Las listas siguientes se generan a partir de las <b>propiedades</b> de los <b>objetos</b> contenidos en el
            <b>array</b> que es parte de los <b>datos</b> de la <b>app</b> creada con Vue.
        </p>
        <!-- El código siguiente genera una lista a partir
             de los valores del arreglo de objetos provisto
             por vue.js -->
        <ul>
            <li v-for="i in personas">
                {{i.apellido}}, {{i.nombre}} ({{i.edad}} años)
            </li>
        </ul>

        <!-- Prueba mostrar {{i}} dentro del bucle -->
        <ul>
            <p>Se puede agregar una variable a módo de indice:</p>
            <li v-for="(i, indice) in personas">
                [{{indice}}]: {{i.apellido}}, {{i.nombre}} ({{i.edad}} años)
            </li>
        </ul>
        <br>
        <hr>

        <p>Es posible generar estructuras más complejas, como una tabla:</p>
        <table border=1>
            <!-- Esta es el encabezado de la tabla. No se repite-->
            <tr class="tituloTabla">
                <td> Nro de cliente </td>
                <td> Apellido(s) </td>
                <td> Nombre(s) </td>
                <td> Edad (años) </td>
            </tr>
            <!-- Cada iteracion del bucle for genera una nueva
                 fila dentro de la tabla.-->
            <tr v-for="(i, indice) in personas" :key="i.nombre">
                <td>{{indice}}</td>
                <td>{{i.apellido}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.edad}}</td>
            </tr>
            <!-- Fin de la tabla.-->
        </table>
    </div>

    <!-- Nuestro script -->
    <script>
        // Creamos nuestra aplicacion.
        const { createApp } = Vue
        const miApp = createApp({
            // DATOS de la aplicacion
            data() {
                // Definimos los valores que posee la aplicación
                // En este caso, es un ARREGLO de OBJETOS
                return {
                    personas: [
                        { nombre: "Juan", apellido: "Ramirez", edad: 20 },
                        { nombre: "Ana María", apellido: "Fernandez", edad: 12 },
                        { nombre: "Iván", apellido: "Alvarez", edad: 33 },
                        { nombre: "Ana", apellido: "Varela", edad: 43 },
                        { nombre: "Sol", apellido: "Crespo Arias", edad: 15 },
                        { nombre: "Ana Laura", apellido: "Morrone", edad: 21 },
                        { nombre: "Pedro", apellido: "Flores Hutz", edad: 57 }
                    ]

                }
            }
        })

        //Montamos la aplicacion en el div que tiene id="app":
        miApp.mount('#app')
    </script>
</body>

</html>