<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos Vue.js</title>

    <!-- Mi hoja de estilos externa -->
    <link rel="stylesheet" href="estilos.css">

</head>

<body>
    <h1>Propiedades computadas con Vue.js (I)</h1>
    <p>Las <mark>propiedades computadas</mark> son unas variables pre-calculadas que puedes reutilizar en
        Vue sin calcularlas cada vez que las utilices, por lo que pueden ser especialmente
        interesantes para cálculos u operaciones costosas. Dichas propiedades computadas <b>sólo se
            vuelven a recalcular si alguno de los parámetros implicados cambia</b>, de modo
        que al calcularse una vez, suele cachear los resultados.</p>

    <hr>

    <!-- Este es el contenedor donde funcionar Vue.js -->
    <div id="app">
        <p>Lista de frutas:</p>
        <div>
            <div>
                <!-- agregar frutas -->
                <div>
                    <!-- Evento keyUp: Nos permite disparar un método una vez que se levanta una tecla. -->
                    <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFrutas">
                    <button @click="agregarFrutas">Agregar nueva fruta</button><br>
                    {{mensaje}}
                </div>

                <!-- lista de frutas -->
                <ul>
                    <li v-for="fruta of frutas">
                        Hay {{fruta.cantidad}} unidades de {{fruta.nombre}}.
                        <span v-if="fruta.cantidad === 0">SIN STOCK</span>
                        <span v-else-if="fruta.cantidad <= 0" style="color:red">(Error)</span>

                        <div>
                            <button @click="fruta.cantidad++">+</button>
                            <button @click="fruta.cantidad--">-</button>
                        </div>
                    </li>
                </ul>

                <!-- total frutas -->
                <p>Total de frutas : <b>{{sumarFrutas}}</b></p>
            </div>
        </div>
    </div>


    <!--CDN de Vue, version de desarrollo -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- Nuestro script -->
    <script>
        //Creamos nuestra aplicacion.
        const miAplicacion = Vue.createApp({
            //DATOS de la aplicacion
            data() {
                return {
                    frutas: [
                        { nombre: 'manzanas',  cantidad: 13 },
                        { nombre: 'naranjas', cantidad: 7 }
                        ],
                    nuevaFruta: "",
                    totalFrutas: 1,
                    mensaje: "Escriba el nombre de la fruta a agregar."
                }
            },
            methods: {
                agregarFrutas() {
                    if (this.nuevaFruta !== "") {
                        this.frutas.push({
                            nombre: this.nuevaFruta,
                            cantidad: 1
                        });
                        this.nuevaFruta = ""
                        this.mensaje = "Escriba el nombre de la fruta a agregar."
                    } else {
                        this.mensaje = "El campo no puede estar vacío."
                    }
                }
            },
            computed: {
                sumarFrutas() {
                    this.totalFrutas = 0;
                    for (fruta of this.frutas) {
                        this.totalFrutas += fruta.cantidad;
                    }
                    return this.totalFrutas;
                }
            }
        }).mount("#app")
    </script>
</body>

</html>