body{
    margin: 0px;

}
.flex{
    display: flex;
    display: inline;
}
.im{
    width: 100%;
    height: 500px;
}
.cont{
    background-color: black;
    text-align: center;
    margin: 20%;
}
h1, h2{
    color: white
}
.barra{
    background-color: white;
    padding: 20px;
    text-align: center;}
a{
    text-decoration: none;
    
    color: black;
    font-size: 30px;
    padding: 20px;
    margin: 50px;
    display: inline;
}
.txt{
    background-color: black;

}
.tx{
    background-color: white;
}

p{
    color: white;
}
.publ{
    margin-top: -4px;
    background-color: gray;
    width: 30%;
    text-align: center;
}
.t{
    color: black;
}

footer{
    text-align: center;
}
.cuerpo{
    display: flex;
}
.co{
    margin-top: -4px;
    width: 70%;
    flex-direction: column;
}
.g{
    background-color: white;
    text-align: center;
}
.gg{
    background-color: black;
    text-align: center;
    height: 40%;
}
.boton{
    background-color: green;
    border-radius: 20px;
    color: white;
}
.texf{
    color: white;
    margin: 30px;
}
.b{
    text-align: center;
    margin-top: 90px;
}
.ggg{
        background-color: black;
        text-align: center;
        height: 100%;
}