.product-container {
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            overflow: hidden;
            width: 300px;
        }
        .product-image {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .product-description {
            color: #666;
            margin-top: 10px;
            background-color: #21972b;
        }