h1{
    color:darkblue
}
h2{
    color: darkgreen;
}
table,tr{
    border:1px solid black;
    border-collapse:collapse;
}    
.pp{
    width:40px;height:80px;
}
th{
    color: red;
}
td{
    color:orange;
}
ul{
    background-color:yellow;
}