h1{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
body{
    background-color: yellow;
    border: 10px color red;
}
p{
    font-style: italic;
    color: red;
}

.price{
    color: green;
    text-decoration: underline;
}


table{
    background-color: gray;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}
.words{
    color: white;
}