header {
    border: 1px solid #000;
    background-color: palevioletred;
}
nav {
    border: 1px solid #000;
    background-color: burlywood;
}
main {
    border: 5px solid blue;
}

section {
    border: 3px solid red;

}
article {
    border: 1px solid #000;
    background-color: lightblue;
}
aside {
    border: 1px solid #000;
    background-color: yellowgreen;
}
footer {
    border: 1px solid #000;
    background-color: lightseagreen;
}