/*gral*/
body{
    margin:0;
}
/* header*/
.encabezado{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
}
.encabezado div.busqueda{
    display: flex;
    flex-direction: row;
}
.encabezado div.busqueda form input[type="text"]{
    color: grey;
}
.encabezado div.busqueda form input[type="submit"]{
    background-color: darkred;
}
.encabezado div.busqueda form{
    border: 1px solid darkred;
}

.encabezado div.busqueda > div{
     display: flex;
     flex-direction: row;
}
.encabezado div.busqueda div img {
    width: 50px;
}
.encabezado div.busqueda div h1{
    color: red;
}
.encabezado nav ul{
    background-color: darkred;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    padding: 10px;
}
.encabezado nav ul :any-link{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}

/*main*/
main{
    background-color: pink;
}
table{
    margin:auto;
}
table tr td{
    border-collapse: separate;
    background-color: white;
    border: 3px solid grey;
    border-radius: 10px;
    text-align: center;
}
table tr td{
    padding: 10px;
}
table .nombre-producto{
    text-decoration: underline;
    color: darkred;
}
table .precio-producto{
    font-weight: bold;
}
table ol li{
    list-style: none;
    text-align: center;
}
table td img{
    height: 40vh;
}
/*footer*/
footer{
    text-align: end;
    background-color: pink;
    border-top: 1px solid grey;
    color:grey;
    font-style: italic;
}