*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{                            /*HTML Y BODY, NO OLVIDAR*/
    height: 100%;
}

body{
    min-height: 100%;
    background-color: aquamarine;
    text-align: center;
    }

.grid-container { /*display:grid y grid-template */
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "nav" 100px
    "section" auto
    "aside" auto
    "footer" 50px / 
    auto;
    }

.grid-container > * { /*estructura padre-hijo, box-shadow. border-radius-margin*/
 box-shadow: -1px 1px 7px 0px black;
 border-radius: 10px;
 margin: 10px;
    }

.nav{ /* va con su mismo nombre el grid-area*/
background-color: aqua;
grid-area: nav;
}

.footer{
    background-color: blue;
    grid-area: footer;
    }

.header{
    background-color: brown;
    grid-area: header;
    }

.section{
    background-color: greenyellow;
    grid-area: section;
    }

.aside{
    background-color: red;
    grid-area: aside;
    }

@media(min-width:900px){
    .grid-container{ 
        grid-template: /*aca reeemplazo los valores de grid-template del grid-container original*/
        "header  header header" 100px
        "nav section aside" auto
        "footer footer footer" 50px / 
        150px auto 200px;
    } 
}

/* *{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.nav{
    background-color: black;
    grid-area: nav;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "nav" auto
    "aside" auto
    "section" auto
    "footer" 50px / 
    auto;
}

.grid-container >*{
    box-shadow: -1px 1px 7px 0px black;
    border-radius: 10px;
   margin: 10px;
}

@media(min-width: 900px){
    .grid-container{
        grid-template:  
    "header header header" 100px
    "nav aside section" auto 
    "footer footer footer" 50px /
    auto auto auto; 
}
}