header{
    background-color: white;
    color: brown;
    padding: 20px;
}
.tabla1{
    background-color: blue;
    border-collapse: collapse;
    color: yellow;
}
.celda1{
    width: 500px;
}
td{
    border: 1px solid white;
}
.enlaces{
    color: yellow;
}
body{
    background-color: teal;
}
h2{
    color: red;
}
h3{
    color: yellow;
}
p{
    text-align: center;
    color: white;
}
.titulo{
    text-align: center;
    color: blue;
    font-weight: bolder;
}
.tabla2{
    margin: auto;
    text-align: center;
    color: white;
    background-color: blue;
    border-collapse: collapse;
    font-weight: 800;
}
.cuerpo2{
    background-color: white;
    text-align: center;
}
img{
    width: 70px;
}
.index{
    text-align: center;
    color: red;
}