body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 1rem 0; /* 1x16px */
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul.menu {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row-reverse; */
    list-style: none; /*saco la viñeta*/
    padding: 0;
    margin: 0;
}

nav ul.menu a {
    color: white;
    text-decoration: none;
}
nav ul.menu li::first-letter{
    color: red;
}


main {
    padding: 1rem;
}

.flex-container {
    display: flex;
    gap: 2rem;
}


.flex-container article {
    flex: 2;
}

.flex-container aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;   
}

.flex-container aside a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

tr:nth-child(2){ /*enesimo elemento hijo*/
    color: red;
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea, button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.highlight {
    color: #007BFF;
    font-weight: bold;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed; 
    bottom: 0; /* Ubicación en la parte inferior */
    width: 100%; 
    z-index: 10; /* Para asegurar que esté por encima de otros elementos */
}

main {
    padding-bottom: 6rem; /* Espacio adicional para que el contenido no sea tapado */
}

a:focus { /*interaccion*/
    color: red; 
}

img {
    max-width: 40%;
    height: auto;  
    display: block;
    margin: 20px auto;
    padding: 10px;
}

#busqueda-normas {
    margin-top: 2rem;
}