/* * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
} */

p {
    color: indigo;
    font-size: 20px;
}

tr {
    color: bisque;
    background-color: coral;
}

.micolor {
    color:blue; 
    background-color:cornflowerblue;
}

.micolor2 {
    color:green; 
    background-color:cornflowerblue;
}

.clasediv {
    background-color:chartreuse;
    border-style:double;

}

#gato {
    background-color:cornflowerblue;
}


