{% include 'paez/header.html' %}

<h4>MODIFICACIÓN DE CATEGORIAS<br /><br />CODIGO {{ categorias[0][0] }}</h4>

<form method="post" action="/update_cat" enctype="multipart/form-data">
  <div class="form-group">
    <input
      type="hidden"
      value="{{categorias[0][0]}}"
      name="txtCat_Id"
      id="txtCat_Id"
    />
    <label for="txtCat_Name">Categoría:</label>
    <input
      id="txtCat_Name"
      class="form-control"
      type="text"
      name="txtCat_Name"
      value="{{categorias[0][1]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtCat_Desc">Descripción:</label>
    <input
      id="txtCat_Desc"
      class="form-control"
      type="text"
      name="txtCat_Desc"
      value="{{categorias[0][2]}}"
    />
  </div>

  <br />
  <div class="form-group">
    <input type="submit" class="btn btn-success" value="Guardar cambios" />
    <a href="javascript:history.back()" class="btn btn-primary">Cancelar</a>
  </div>
</form>

{% include 'paez/footer.html' %}
