{% include 'paez/header.html' %}

<h4>MODIFICACIÓN DE PRODUCTOS<br /><br />CODIGO {{ productos[0][0] }}</h4>

<form method="post" action="/update_pro" enctype="multipart/form-data">
  <div class="form-group">
    <input
      type="hidden"
      value="{{productos[0][0]}}"
      name="txtPro_Id"
      id="txtPro_Id"
    />
    <label for="txtPro_Descrip">Descripción:</label>
    <input
      id="txtPro_Descrip"
      class="form-control"
      type="text"
      name="txtPro_Descrip"
      value="{{productos[0][4]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Ven_Id">Codigo del vendedor:</label>
    <div class="col-sm-6 col-md-6">
      <select name="txtPro_Ven_Id" id="txtPro_Ven_Id" class="form-control">
        <option>{{ven}} - {{ven_name}}</option>
        {% for proveedor in proveedores %}
        <option>{{proveedor[0]}} - {{proveedor[1]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="txtPro_Cat_Id">Codigo de categoría:</label>
    <div class="col-sm-6 col-md-4">
      <select name="txtPro_Cat_Id" id="txtPro_Cat_Id" class="form-control">
        <option>{{cat}} - {{cat_name}}</option>
        {% for categoria in categorias %}
        <option>{{categoria[0]}} - {{categoria[1]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="txtPro_Sub_Id">Codigo de Sub-categoría:</label>
    <div class="col-sm-6 col-md-4">
      <select name="txtPro_Sub_Id" id="txtPro_Sub_Id" class="form-control">
        <option>{{sub}} - {{sub_name}}</option>
        {% for subcategoria in subcategorias %}
        <option>{{subcategoria[0]}} - {{subcategoria[1]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="txtPro_Codigo">Código del producto:</label>
    <input
      id="txtPro_Codigo"
      class="form-control"
      type="text"
      name="txtPro_Codigo"
      value="{{productos[0][15]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Buy_Value">Precio de Compra:</label>
    <input
      id="txtPro_Buy_Value"
      categoria
      id="txtPro_Buy_Value"
      class="form-control"
      type="text"
      name="txtPro_Buy_Value"
      value="{{productos[0][5]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Margin1">Porcentaje 1:</label>
    <input
      id="txtPro_Margin1"
      class="form-control"
      type="text"
      name="txtPro_Margin1"
      value="{{productos[0][7]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Margin2">Porcentaje 2:</label>
    <input
      id="txtPro_Margin2"
      class="form-control"
      type="text"
      name="txtPro_Margin2"
      value="{{productos[0][9]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Margin3">Porcentaje 3:</label>
    <input
      id="txtPro_Margin3"
      class="form-control"
      type="text"
      name="txtPro_Margin3"
      value="{{productos[0][11]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Buy_Date">Fecha de Compra:</label>
    <input
      id="txtPro_Buy_Date"
      categoria
      id="txtPro_Buy_Date"
      class="form-control"
      type="text"
      name="txtPro_Buy_Date"
      value="{{productos[0][6]}}"
    />
  </div>

  <div class="form-group">
    <label for="txtPro_Stock">Stock:</label>
    <input
      id="txtPro_Stock"
      class="form-control"
      type="text"
      name="txtPro_Stock"
      value="{{productos[0][14]}}"
    />
  </div>  

  <br />
  <div class="form-group">
    <input type="submit" class="btn btn-success" value="Guardar cambios" />
    <a href="javascript:history.back()" class="btn btn-alert">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
  </div>
</form>

{% include 'paez/footer.html' %}
