<center>
    <table style="border: hidden" align="left">
        <tbody>
            <tr>
                <td align="right"><b>Proveedor:</b>&nbsp;</td>
                <td align="left">{{ven}}</td>
            </tr>
            <tr>
                <td align="right"><b>Categoría:</b>&nbsp;</td>
                <td align="left">{{cat}}</td>
            </tr>
            <tr>
                <td align="right"><b>Sub Categ:</b>&nbsp;</td>
                <td align="left">{{sub}}</td>
            </tr>        

        </tbody>
    </table>
</center>