<!DOCTYPE html>
<html lang="es">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Zen+Dots&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css' ) }}">
    
    <title>CRUD con PYTHON + FLASK</title>
</head>
<body style="padding-top: 60px;">

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
         <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/listado_pro_x">Listado</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true">
                Productos
              </a>
              <div class="dropdown-menu dropdown-menu-right text-left">
                <a class="dropdown-item" href="/altaprod">Alta de productos</a>
                <a class="dropdown-item" href="/listado_pro_z">Aumentos/Descuentos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/listado_pro_x2">Lista de precios (ID)</a>
                <a class="dropdown-item" href="/listado_pro_x">Lista de precios (DESCRIPCION)</a>  
                <div class="dropdown-divider"></div>                 
                <a class="dropdown-item" href="/consulta_pro_id">Consulta por ID</a>                   
                <a class="dropdown-item" href="/consulta_pro_codigo">Consulta por CODIGO</a>
                <a class="dropdown-item" href="/consulta_pro_descrip">Consulta por DESCRIPCION</a>                  
            </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" >
                  Proveedores
                </a>
                <div class="dropdown-menu dropdown-menu-right text-left">
                    <a class="dropdown-item" href="/alta_ven">Alta de proveedores</a>
                    <a class="dropdown-item" href="/listado_ven_ed">Modificaciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/listado_ven">Listado</a>
                </div>
              </li>                      

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" >
                  Categorias
                </a>
                <div class="dropdown-menu dropdown-menu-right text-left">
                    <a class="dropdown-item" href="/alta_cat">Alta de categorias</a>
                    <a class="dropdown-item" href="/listado_cat_ed">Modificaciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/listado_cat">Listado por NOMBRE</a>
                    <a class="dropdown-item" href="/listado_cat1">Listado por CODIGO</a>
                </div>
              </li>        

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" >
                  Subcategorias
                </a>
                <div class="dropdown-menu dropdown-menu-right text-left">
                    <a class="dropdown-item" href="/alta_sub">Alta de subcategorias</a>
                    <a class="dropdown-item" href="/listado_sub_ed">Modificaciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/listado_sub">Listado por NOMBRE</a>
                    <a class="dropdown-item" href="/listado_sub1">Listado por CODIGO</a>
                </div>
              </li>              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" >
                  Sistema
                </a>
                <div class="dropdown-menu dropdown-menu-right text-left">
                    <a class="dropdown-item" href="/alta_usu">Alta de usuarios</a>
                    <a class="dropdown-item" href="/listado_usu">Listado de usuarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/backup">Generar copia a Excel</a>
                    <a class="dropdown-item" href="/listado_pro_PDF1">Precios en PDF (ID)</a>   
                    <a class="dropdown-item" href="/listado_pro_PDF2">Precios en PDF (Alfabetico)</a>                                                               
                </div>
              </li>          

          </ul>
          </div>
      </nav>

      <div class='wrapper'>