{% include 'paez/header.html' %}


<h4>MENU PRINCIPAL</h4>

<center><b>Productos:</b><BR>
    <a href="/listado">Consulta por código</a><BR>
    <a href="/altaprod">Alta de productos</a><BR>
    <BR>
    <a href="/listado">Listado para mostrador</a><BR>     
    <a href="/listado">Listado completo</a><BR>
    <a href="/listado">Listado de una categoria</a><BR>   
    <a href="/listado">Listado de un proveedor</a>
</center>

<center><b>Categorias:</b><BR>
    <a href="/alta_cat">Alta de categorias</a><BR>
    <a href="/listado_cat">Listado por NOMBRE</a><BR>
    <a href="/listado_cat1">Listado por CODIGO</a>
</center>

<center><b>Sub-Categorias:</b><BR>
    <a href="/alta_sub">Alta de categorias</a><BR>
    <a href="/listado_sub">Listado por NOMBRE</a><BR>
    <a href="/listado_sub1">Listado por CODIGO</a>
</center>

<center><b>Proveedores:</b><BR>
    <a href="/alta_ven">Alta de proveedores</a><BR>
    <a href="/listado_ven">Listado por NOMBRE</a><BR>
    <a href="/listado_ven1">Listado por CODIGO</a>
</center>

<center><b>Usuarios:</b><BR>
    <a href="/listado">Consulta por código</a><BR>
    <a href="/listado">Alta de usuarios</a><BR>
    <a href="/listado">Listado completo</a>
</center>



{% include 'paez/footer.html' %}