{% include 'paez/header.html' %}

<h4>LISTADO COMPLETO</h4>

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Cod.</th>
            <th>Cat.</th>
            <th>Prov.</th>
            <th>Compra</th>
            <th>Costo</th>
            <th>% 1</th>      
            <th>Venta 1</th>
            <th>% 2</th>
            <th>Venta 2</th>
            <th>% 3</th>    
            <th>Venta 3</th>
            <th>Modificado</th>        
      
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td colspan=3><a class="btn btn-warning" href="/edit_pro/{{producto[0]}}">Editar</a>  <a class="btn btn-danger"
                onclick="return confirm('¿Desea borrar al empleado?')" href="/destroy_pro/{{producto[0]}}">Borrar</a></td>
            <td colspan=10>{{producto[ 4]}}</td>
        </tr>
        <tr>
            <td>{{producto[ 0]}}</td>
            <td>{{producto[ 1]}}/{{producto[ 2]}}</td>
            <td>{{producto[ 3]}}</td>

            <td>{{producto[ 6]}}</td>
            <td>${{producto[ 5]}}</td>
            <td>{{producto[ 7]}}%</td>
            <td>${{producto[ 8]}}</td>
            <td>{{producto[ 9]}}%</td>  
            <td>${{producto[10]}}</td>
            <td>{{producto[11]}}%</td>
            <td>${{producto[12]}}</td> 
            <td>{{producto[13]}}</td>                                                              
            
        </tr>
        <tr> <td colspan=13>&nbsp;</td></tr>
        {% endfor %}
    </tbody>
</table>
{% include 'paez/footer.html' %}