{% include 'paez/header.html' %}

<h4>LISTA DE PRECIOS (por ID)</h4>

{% include 'paez/header_filtros.html' %}

<table class="table table-light">
    <thead class="thead-light">

        <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Descripción.</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    
    
    <tbody>

    {% for producto in productos %}
       
        {% if (loop.index) % 2 != 0 %}   <tr style="background-color: rgb(253, 253, 253);">  {% endif %}  
        {% if (loop.index) % 2 == 0 %}   <tr style="background-color: rgb(205, 228, 250);">  {% endif %}  
            <td align="right">{{producto[ 0]}}&nbsp; </td>            
            <td align="right">{{producto[15]}}&nbsp; </td>
            <td>              {{producto[ 4][:40]}}  </td>
            <td align="right">$ {{"%.2f"|format(producto[ 8])}}&nbsp;</td>           
            <td><a class="boton_Ok" href="/mostrar_pro/{{producto[0]}}">&nbsp;Ver&nbsp;</a> </td>
        </tr>
   {% endfor %}

    </tbody>
</table>
{% include 'paez/footer.html' %}