{% include 'paez/header.html' %}

<h4>LISTA DE PROVEEDORES</h4>


<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Cod.</th>
            <th>Nombre de la empresa</th>
            <th>Descripción.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
            {% if (loop.index) % 2 != 0 %}   <tr style="background-color: rgb(253, 253, 253);">  {% endif %}  
            {% if (loop.index) % 2 == 0 %}   <tr style="background-color: rgb(205, 228, 250);">  {% endif %}  
            <td>{{proveedor[ 0]}}</td>
            <td>{{proveedor[ 1]}}</td>
            <td>{{proveedor[ 2]}}</td>

            <td><a class="boton_Ok" href="/mostrar_ven/{{proveedor[0]}}">&nbsp;Ver&nbsp;</a>&nbsp; 
                <a class="boton_Edit" href="/edit_ven/{{proveedor[0]}}">&nbsp;Editar&nbsp;</a>&nbsp; 
                <a class="boton_Del" onclick="return confirm('¿Desea borrar el proveedor?')" href="/destroy_ven/{{proveedor[0]}}">&nbsp;Borrar&nbsp;</a>  
            </td>   
            
        </tr>                                                 

        {% endfor %}
    </tbody>
</table>
{% include 'paez/footer.html' %}