{% include 'paez/header.html' %}

<h4>LISTADO de SUBCATEGORIAS<BR><BR>(por NOMBRE)</h4>

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Cod.</th>
            <th>Nombre de la subcategoría</th>
            <th>Descripción.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for subcategoria in subcategorias %}
            {% if (loop.index) % 2 != 0 %}   <tr style="background-color: rgb(253, 253, 253);">  {% endif %}  
            {% if (loop.index) % 2 == 0 %}   <tr style="background-color: rgb(205, 228, 250);">  {% endif %}  
            <td>{{subcategoria[ 0]}}</td>
            <td>{{subcategoria[ 1]}}</td>
            <td>{{subcategoria[ 2]}}</td>
        </tr>                                                    

        {% endfor %}
    </tbody>
</table>
{% include 'paez/footer.html' %}