{% include 'paez/header.html' %}

<h4>LISTADO de PROVEEDORES<BR><BR>(por NOMBRE)</h4>

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Cod.</th>
            <th>Nombre de la empresa</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
            {% if (loop.index) % 2 != 0 %}   <tr style="background-color: rgb(253, 253, 253);">  {% endif %}  
            {% if (loop.index) % 2 == 0 %}   <tr style="background-color: rgb(205, 228, 250);">  {% endif %}  
            <td>{{proveedor[ 0]}}</td>
            <td>{{proveedor[ 1]}}</td>
            <td>{{proveedor[ 2]}}</td>
            <td><a class="boton_Ok" href="/mostrar_ven/{{proveedor[0]}}">&nbsp;Ver&nbsp;</a>&nbsp; </td>  
        </tr>                                                 
        
        {% endfor %}
    </tbody>
</table>

{% include 'paez/footer.html' %}