

h1{
    color: blue
}
h2{
    color:green;
}

table {
    border: 5px solid grey;
}

img{
    width: 50px;
}
body{
    border: 0px;
    border: 5px solid red;
    

}
a{
   color: blueviolet;
   background-color: transparent;
   border: none;
   font-size: 20px;
   text-decoration: underline;
   border: 0px;
   border-radius: 0px white;
}
   
.nombre{
    color: red;
}
.carrera{
    color: orange;
}

.listado{
    
    color: grey;
    background-color: gold;
}