.supercontenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}


.caja {
    background-color: lightcyan;
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    flex-basis: 75%;
}

.opciones {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    background-color: lightblue;

    margin: 20px 5px 20px 5px;

    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
}