.flexbox {
    background-color: wheat;

    height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: baseline;
    align-content: center; 
}
.items {
    border: 1px solid black;
    width: 200px;
    padding: 10px;

    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.primero {
    background-color: red;
    font-size: 30px;
    flex-shrink: 5;
}

.segundo {
    background-color: blue;
    font-size: 10px;
    align-self: start;
}

.tercero {
    background-color: green;
    font-size: 50px;
}

.cuarto {
    background-color: yellow;
    font-size: 80px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;

    display: flex;
/*    justify-content: center;
    align-items: center;
*/
}
.centrado {
    margin: auto;
}
