body {
    margin: 0;
    margin-bottom: 0;
    background-color: lightgray;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.titulo {
    font-weight: bold;
}

.cabecera img {
    width: 90px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    width: 82%;
}

.menu>li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px dashed black;
    padding: 8px;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.destino {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    border-radius: 15px;
}

.destino>a img {
    width: 300px;
    border-radius: 15px;
}

.titDes {
    text-decoration: underline black;
}

.descDes {
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 15px;
    border-top: 3px solid gray;
}

.piePagina {
    font-style: italic;
    color: gray;
}

.viajes {
    width: 30%;
    height: 350px;
}

.viajes,
th,
td {
    border: none;
}

th {
    background-color: black;
    color: white;
    text-decoration: underline white;
    text-align: center;
}

tbody>tr:nth-child(even) {
    background-color: gray;
    color: white;
}

tbody>tr:nth-child(odd) {
    background-color: white;
}

tbody>tr>td:not(:first-child) {
    text-align: center;
}

td,
th {
    padding: 10px;
}

td {
    margin: 15px;
    font-style: italic;
}

form {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form label {
    font-style: italic;
}

form input,
select {
    border-radius: 7px;
    border: 1px solid gray;
    outline: none;
    height: 25px;
}

.descValle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.imgValle {
    width: 250px;
}

.imgMapa {
    width: 100px;
}

.descripcionValle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}

.volver {
    text-decoration: none;
    background-color: gray;
    font-size: large;
    color: white;
    padding: 7px;
    border-radius: 10px;
}