body {
    background-color: yellow;
}

.titulolobby {
    color: blue ;
    font-size: x-large;
}

.links {
text-decoration: none;
text-transform: none;
text-decoration-color: black;
}

.flavortxt {
    font-size: small;
    text-decoration-color: orange;
}

.precio {
    text-decoration: dashed;
    text-decoration-color: green;
}